language: java
jdk:
  - oraclejdk11
dist: trusty
sudo: required
cache:
  directories:
    - $HOME/.m2
branches:
  only:
    - main
before_script:
  - java --version
script:
  - mvn clean install
after_success:
  deploy:
    provider: heroku
    api_key: 538dbe2d-c81e-4e95-a568-99687db39b2f
    app: api-alegria
