language: java
jdk:
  - oraclejdk11
dist: trusty
sudo: required
cache:
  directories:
    - $HOME/.m2
branches:
  only:
    - main
before_script:
  - sudo snap install --classic heroku
  - '(echo $HEROKU_CREDENTIALS_EMAIL echo $HEROKU_CREDENTIALS_PASSWORD) | heroku login'
  - heroku create
  - pwd
script:
  - java --version
  - mvnw clean install
  - mvnw test
after_script:
  - 'if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then git push heroku main; fi'
